<h1>Etape 4</h1>
<h2>Concentration</h2>

<h3>Ressentez-vous des problèmes liés à la concentration au travail ?</h3>

{{ form_start(form) }}
    {{ form_widget(form.concentration) }}
    {{ form_rest(form) }}
    <button type="submit" name="next" value="step5">Suivant</button>
{{ form_end(form) }}