<footer class="flex flex-col items-center gap-2 border-gray-300 bg-redComponent py-10">
	<a href="{{ path('app_login') }}" class="text-2xl font-bold">
		<span class="text-indigo-600">Ja</span>ji.
	</a>
	<nav class="flex flex-wrap items-center justify-center gap-4 text-indigo-600 md:gap-6">
		<a href="" class="whitespace-nowrap hover:underline">
			À propos
		</a>
		<a href="" class="whitespace-nowrap hover:underline">
			Centre d'aide
		</a>
		<a href="" class="whitespace-nowrap hover:underline">
			Politique de confidentialité
		</a>
		<a href="" class="whitespace-nowrap hover:underline">
			Conditions d'utilisation
		</a>
	</nav>
	<p class="text-sm text-gray-600">
		&copy; Jaji. All rights reserved.
	</p>
</footer>
